/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	background-image: url("images/tina2-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
	
	
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(0, 150, 178, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px dashed white;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
	margin-left: 20px;
	margin-top: 20px;
}

h1 {
	font-family: 'Cairo', sans-serif;
	font-size: 2em;
	font-weight: bold;
	border: solid #1baa4b;
	border-width: 3px;
	background-color: #c2bbf7;
    margin-left: 20px;
	margin-right: 20px;
	margin-top: 150px;
    color: black;
	text-align: center;
	padding: 20px 20px;
	border-radius: 10px;
}

h2 {
	font-family: 'Cairo', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
    line-height: 1.4;
    color: black;
	border-width: 10px;
	background-color: #c2bbf7;
    padding: 20px 20px;
	border: solid #9150a0;
    margin: 25px auto 25px auto;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
}

h3 {
	font-family: 'Cairo', sans-serif;
	font-size: 4em;
	font-weight: bold;
    line-height: 1.4;
    color: #c2bbf7;
	border-width: 10px;
    padding: 20px 20px;
    margin: 25px auto 25px auto;
	text-align: center;
	margin-top: 30px;
}

p {
	font-family: 'Cairo', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
    line-height: 1.6;
    color: black;
	border-width: 10px;
	background-color: #c2bbf7;
	border: solid #fdcf09;
	text-align: center;
	padding: 20px 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
}
    
nav{
		font-family: 'Cairo', sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		width: 400px;
		margin: 0 auto;
		border: solid #5b52a3;
		background-color: #c2bbf7;
		border-width: 3px 3px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		border-radius: 10px;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: black;
	background: #ed2092;
}